h1{
  font-family: Courier New, serif;
  color: #33EEFF;
}
h3{
  font-family: Arial Black, serif;
  color: #40FF33;
}
p{
  font-size: 60px;
}
h4{
  font-family: Comic Sans MS, serif;
  color: rgb(255, 51, 174);
}
